* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: blue;

    & a {
        color: #fff;
    }
}